In [1]:
# Add Matplotlib inline magic command
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import statistics

In [2]:
# Files to load
city_data_to_load = "Resources/city_data.csv"
ride_data_to_load = "Resources/ride_data.csv"

In [4]:
# Read the city data file and store it in a pandas DataFrame.
city_data_df = pd.read_csv(city_data_to_load)
city_data_df.head(10)

            city  driver_count   type
0    Richardfort            38  Urban
1   Williamsstad            59  Urban
2    Port Angela            67  Urban
3     Rodneyfort            34  Urban
4    West Robert            39  Urban
5   West Anthony            70  Urban
6    West Angela            48  Urban
7  Martinezhaven            25  Urban
8      Karenberg            22  Urban
9    Barajasview            26  Urban

In [5]:
# Read the ride data file and store it in a pandas DataFrame.
ride_data_df = pd.read_csv(ride_data_to_load)
ride_data_df.head(10)

                 city                 date   fare        ride_id
0  Lake Jonathanshire  2019-01-14 10:14:22  13.83  5739410935873
1  South Michelleport  2019-03-04 18:24:09  30.24  2343912425577
2  Port Samanthamouth  2019-02-24 04:29:00  33.44  2005065760003
3          Rodneyfort  2019-02-10 23:22:03  23.44  5149245426178
4          South Jack  2019-03-06 04:28:35  34.58  3908451377344
5        South Latoya  2019-03-11 12:26:48   9.52  1994999424437
6       New Paulville  2019-02-27 11:17:56  43.25   793208410091
7        Simpsonburgh  2019-04-26 00:43:24  35.98   111953927754
8     South Karenland  2019-01-08 03:28:48  35.09  7995623208694
9       North Jasmine  2019-03-09 06:26:29  42.81  5327642267789

In [43]:
# Combine the data into a single dataset
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])

# Display the DataFrame
pyber_data_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban
5,South Latoya,2019-03-11 12:26:48,9.52,1994999424437,10,Urban
6,New Paulville,2019-02-27 11:17:56,43.25,793208410091,44,Urban
7,Simpsonburgh,2019-04-26 00:43:24,35.98,111953927754,21,Urban
8,South Karenland,2019-01-08 03:28:48,35.09,7995623208694,4,Urban
9,North Jasmine,2019-03-09 06:26:29,42.81,5327642267789,33,Urban
10,New Kimberlyborough,2019-02-07 01:10:11,9.34,7992781920789,33,Urban
11,West Angela,2019-01-12 01:45:27,26.86,4820052223501,48,Urban
12,Rodneyfort,2019-03-02 18:03:20,44.26,2494064867705,34,Urban
13,West Angela,2019-01-10 12:17:31,12.74,2108723916092,48,Urban
14,Roberthaven,2019-05-04 14:48:56,25.66,1026197778354,47,Urban
15,North Jason,2019-03-28 22:28:44,9.19,7007022521141,6,Urban
16,Williamsview,2019-01-03 16:19:25,18.93,1979492913169,46,Urban
17,Leahton,2019-02-26 18:42:15,8.85,6966668662612,17,Urban
18,West Anthony,2019-03-06 02:27:01,10.02,9396763280782,70,Urban
19,New Kimberlyborough,2019-04-25 22:58:38,29.67,4823568522144,33,Urban
20,Roberthaven,2019-02-24 10:26:34,7.80,2180566685151,47,Urban
21,New Paulton,2019-05-01 03:12:49,8.28,8527101897862,44,Urban
22,West Patrickchester,2019-03-19 05:46:20,40.86,898889456779,25,Urban
23,Deanville,2019-04-25 03:29:09,41.52,6055928921559,49,Urban
24,West Josephberg,2019-02-19 16:22:09,36.39,3322126516683,45,Urban
25,West Samuelburgh,2019-05-03 14:33:41,41.12,7330842806458,73,Urban
26,West Heidi,2019-03-14 23:46:50,24.40,4908573010166,28,Urban
27,Loganberg,2019-04-01 01:06:03,8.23,678728883160,23,Urban
28,Huntermouth,2019-02-10 23:32:13,25.79,1880379662035,37,Urban
29,South Latoya,2019-01-11 18:44:14,27.41,8662301917375,10,Urban
30,New Paulville,2019-03-18 22:54:11,25.05,5031803855561,44,Urban
31,Grahamburgh,2019-01-15 11:44:20,40.69,307021255892,61,Urban
32,Port Frank,2019-02-02 14:14:37,41.47,6746609056348,23,Urban
33,East Kaylahaven,2019-02-28 04:13:57,25.96,3662521920044,65,Urban
34,Rodneyfort,2019-02-03 00:48:41,44.86,2325699544245,34,Urban
35,South Karenland,2019-02-12 06:52:03,36.01,4015929454731,4,Urban
36,West Robert,2019-02-15 04:21:47,12.28,1442502460354,39,Urban
37,North Markport,2019-02-18 08:17:35,38.09,925012921771,22,Urban
38,Williamsview,2019-03-12 06:47:43,8.35,1940440908308,46,Urban
39,Richardfort,2019-02-24 08:40:38,13.93,5628545007794,38,Urban
40,New Kimberlyborough,2019-03-14 16:47:25,27.90,6750798028086,33,Urban
41,Reynoldsfurt,2019-03-25 14:33:27,34.06,6604420154219,67,Urban
42,South Karenland,2019-05-08 02:31:25,41.33,5688921852912,4,Urban
43,Rodneyfort,2019-04-25 20:57:43,21.70,8534600667414,34,Urban
44,Justinberg,2019-04-23 08:59:48,14.65,9878231118211,39,Urban
45,West Josephberg,2019-03-05 03:27:34,12.91,102684585771,45,Urban
46,South Karenland,2019-03-03 14:48:30,37.30,4104001937078,4,Urban
47,Leahton,2019-05-05 10:34:50,17.05,5846586406028,17,Urban
48,Martinezhaven,2019-03-19 15:31:26,5.30,264337981979,25,Urban
49,North Jason,2019-03-03 02:13:37,28.02,2670554129601,6,Urban

In [30]:
cities = pyber_data_df['city'].unique()
print(cities)

['Lake Jonathanshire' 'South Michelleport' 'Port Samanthamouth'
 'Rodneyfort' 'South Jack' 'South Latoya' 'New Paulville' 'Simpsonburgh'
 'South Karenland' 'North Jasmine' 'New Kimberlyborough' 'West Angela'
 'Roberthaven' 'North Jason' 'Williamsview' 'Leahton' 'West Anthony'
 'New Paulton' 'West Patrickchester' 'Deanville' 'West Josephberg'
 'West Samuelburgh' 'West Heidi' 'Loganberg' 'Huntermouth' 'Grahamburgh'
 'Port Frank' 'East Kaylahaven' 'West Robert' 'North Markport'
 'Richardfort' 'Reynoldsfurt' 'Justinberg' 'Martinezhaven' 'Jerryton'
 'Lake Scottton' 'South Evanton' 'Rogerston' 'West Ericstad' 'Hurleymouth'
 'Joneschester' 'Port Angela' 'Barajasview' 'West Christopherberg'
 'New Jacobville' 'Port David' 'Valentineton' 'Carriemouth' 'Williamsstad'
 'Royland' 'Karenberg' 'Christopherfurt' 'Liumouth' 'Johnton' 'Erikaland'
 'Raymondhaven' 'Karenside' 'Lake Danielberg' 'South Phillip'
 'North Madeline' 'Port Johnbury' 'Robertport' 'Pattyland' 'Amandaburgh'
 'North Barbara' 'West Gabriel' 'Barronchester' 'East Kentstad'
 'Lake Omar' 'Myersshire' 'West Hannah' 'East Marymouth' 'New Raymond'
 'Lake Robertside' 'Josephside' 'Brandonfort' 'Lewisland'
 'North Richardhaven' 'New Olivia' 'New Shannonberg' 'Nicolechester'
 'Victoriaport' 'South Teresa' 'East Aaronbury' 'Bethanyland' 'Lake Scott'
 'North Jeffrey' 'Rodriguezview' 'Sotoville' 'South Brenda' 'Port Shane'
 'North Timothy' 'Veronicaberg' 'Williamsonville' 'Lewishaven' 'Lake Ann'
 'Grayville' 'Colemanland' 'West Kimmouth' 'Mezachester' 'Davidfurt'
 'East Danielview' 'Randallchester' 'North Holly' 'Michaelberg'
 'Lake Latoyabury' 'Taylorhaven' 'Garzaport' 'New Ryantown' 'Bradshawfurt'
 'South Marychester' 'Jessicaport' 'South Jennifer' 'South Saramouth'
 'Lake Jamie' 'Newtonview' 'North Jaime' 'Penaborough' 'Harringtonfort'
 'West Heather']

NameError: name 'count' is not defined

In [38]:
# Count how many sightings have occured within each state
city_counts = pyber_data_df['city'].value_counts()
city_counts.head(50)

West Angela             39
South Karenland         38
North Jason             35
Port Frank              33
Liumouth                33
South Evanton           31
South Phillip           31
South Michelleport      31
West Robert             31
West Anthony            30
Royland                 30
North Jasmine           30
New Kimberlyborough     30
Justinberg              30
East Kaylahaven         29
Karenside               28
Richardfort             28
West Heidi              28
Hurleymouth             28
Loganberg               28
Josephside              27
Carriemouth             27
Christopherfurt         27
East Marymouth          27
West Christopherberg    26
Lake Danielberg         26
West Josephberg         26
Joneschester            25
West Samuelburgh        25
Raymondhaven            25
Jerryton                25
Port Samanthamouth      25
North Madeline          25
Lake Robertside         25
Grahamburgh             25
Lake Jonathanshire      24
Huntermouth             24
Roberthaven             24
Martinezhaven           24
Simpsonburgh            24
Lake Scottton           24
South Brenda            24
Rodneyfort              23
West Gabriel            23
Williamsstad            23
South Teresa            22
Valentineton            22
Port David              22
New Raymond             22
Rogerston               22
Name: city, dtype: int64

In [57]:
#Find the total number of drivers per city type
pyber_driver_sum = pyber_data_df.groupby(["city"]).mean()['driver_count']
pyber_driver_sum

city
Amandaburgh         12.0
Barajasview         26.0
Barronchester       11.0
Bethanyland         22.0
Bradshawfurt         7.0
                    ...
West Robert         39.0
West Samuelburgh    73.0
Williamsonville      2.0
Williamsstad        59.0
Williamsview        46.0
Name: driver_count, Length: 120, dtype: float64

In [53]:
#Find the total number of drivers per city and type
pyber_driver_city_sum = pyber_data_df.groupby(["city", "type"]).mean()['driver_count']
pyber_driver_city_sum.head()

city           type
Amandaburgh    Urban       12.0
Barajasview    Urban       26.0
Barronchester  Suburban    11.0
Bethanyland    Suburban    22.0
Bradshawfurt   Rural        7.0
Name: driver_count, dtype: float64

In [55]:
#Find the total number of drivers per city and type
pyber_driver_type = pyber_data_df.groupby(["type", "city"]).mean()['driver_count']
pyber_driver_type.head()

type   city
Rural  Bradshawfurt      7.0
       Garzaport         7.0
       Harringtonfort    4.0
       Jessicaport       1.0
       Lake Jamie        4.0
Name: driver_count, dtype: float64

In [65]:
#Find the total number of drivers per city and type
pyber_driver_count = pyber_data_df.groupby(["type", "city"]).mean()
pyber_driver_count

                                fare       ride_id  driver_count
type  city
Rural Bradshawfurt         40.064000  3.735294e+12           7.0
      Garzaport            24.123333  5.949150e+12           7.0
      Harringtonfort       33.470000  5.726406e+12           4.0
      Jessicaport          36.013333  3.622801e+12           1.0
      Lake Jamie           34.358333  3.558885e+12           4.0
...                              ...           ...           ...
Urban West Patrickchester  28.233125  5.302508e+12          25.0
      West Robert          25.123871  4.575476e+12          39.0
      West Samuelburgh     21.767600  4.566740e+12          73.0
      Williamsstad         24.362174  4.316939e+12          59.0
      Williamsview         26.599000  4.537662e+12          46.0

[120 rows x 3 columns]

In [67]:
#Find how many drivers per type
pyber_driver_count_final = pyber_driver_count.groupby(["type"]).sum()["driver_count"]
pyber_driver_count_final

type
Rural         78.0
Suburban     490.0
Urban       2405.0
Name: driver_count, dtype: float64

In [37]:
#Find the total number of drivers per city type
pyber_driver_sum = pyber_data_df.groupby(["city"]).count()['driver_count']
pyber_driver_sum

city
Amandaburgh         18
Barajasview         22
Barronchester       16
Bethanyland         18
Bradshawfurt        10
                    ..
West Robert         31
West Samuelburgh    25
Williamsonville     14
Williamsstad        23
Williamsview        20
Name: driver_count, Length: 120, dtype: int64

In [16]:
#Find the total number of rides per city type
pyber_rides_sum = pyber_data_df.groupby(["type"]).count()['ride_id']
pyber_rides_sum

type
Rural        125
Suburban     625
Urban       1625
Name: ride_id, dtype: int64

In [17]:
#Find the total amount of fares per city type
pyber_fare_sum = pyber_data_df.groupby(["type"]).sum()['fare']
pyber_fare_sum

type
Rural        4327.93
Suburban    19356.33
Urban       39854.38
Name: fare, dtype: float64

In [69]:
# Get average fare per ride info
average_ride_fares = pyber_fare_sum / pyber_rides_sum
average_ride_fares

type
Rural       34.623440
Suburban    30.970128
Urban       24.525772
dtype: float64

In [70]:
# Get average fare per driver info
average_driver_fares = pyber_fare_sum / pyber_driver_count_final
average_driver_fares

type
Rural       55.486282
Suburban    39.502714
Urban       16.571468
dtype: float64

In [78]:
#Format information for the dataframe
pyber_rides_sum_f = pyber_rides_sum.map("{:,.0f}".format)
print(pyber_rides_sum_f)
pyber_driver_count_final_f = pyber_driver_count_final.map("{:,.0f}".format)
print(pyber_driver_count_final_f)
pyber_fare_sum_f = pyber_fare_sum.map("${:,.2f}".format)
print(pyber_fare_sum_f)
average_ride_fares_f = average_ride_fares.map("${:,.2f}".format)
print(average_ride_fares_f)
average_driver_fares_f = average_driver_fares.map("${:,.2f}".format)
print(average_driver_fares_f)

type
Rural         125
Suburban      625
Urban       1,625
Name: ride_id, dtype: object
type
Rural          78
Suburban      490
Urban       2,405
Name: driver_count, dtype: object
type
Rural        $4,327.93
Suburban    $19,356.33
Urban       $39,854.38
Name: fare, dtype: object
type
Rural       $34.62
Suburban    $30.97
Urban       $24.53
dtype: object
type
Rural       $55.49
Suburban    $39.50
Urban       $16.57
dtype: object

In [79]:
#Create the summary dataframe
pyber_summary_df = pd.DataFrame({
             "Total Rides": pyber_rides_sum_f,
             "Total Drivers": pyber_driver_count_final_f,
             "Total Fares": pyber_fare_sum_f,
             "Average Fare per Ride": average_ride_fares_f, 
             "Average Fare per Driver": average_driver_fares_f})
pyber_summary_df

,Total Rides,Total Drivers,Total Fares,Average Fare per Ride,Average Fare per Driver
type,,,,,
Rural,125,78,"$4,327.93",$34.62,$55.49
Suburban,625,490,"$19,356.33",$30.97,$39.50
Urban,"1,625","2,405","$39,854.38",$24.53,$16.57

In [82]:
#Remove the type from the DataFrame
pyber_summary_df.index.names = ['']
pyber_summary_df

,Total Rides,Total Drivers,Total Fares,Average Fare per Ride,Average Fare per Driver
,,,,,
Rural,125,78,"$4,327.93",$34.62,$55.49
Suburban,625,490,"$19,356.33",$30.97,$39.50
Urban,"1,625","2,405","$39,854.38",$24.53,$16.57